@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/*_-_-_-_-_-_HEADER_-_-_-_-_-_*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: auto;
    height: auto;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}

.header_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #6002EE;
    cursor: pointer;
    transition: 0.5s;

}

.header_title:hover {
    -webkit-text-stroke: 1px #6002EE;
    color: white;

}

.header_nav_link {
    margin-right: 20px;
    text-decoration: none;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s;
}

.this_page {
    font-weight: bold;
    color: #0000BA;
}

.header_nav_panier {
    background-color: #6002EE;
    color: white;
    border-radius: 100px;
    padding: 5px 10px;
    border: none;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .4s;
    display: none;

}

.header_nav_panier:hover {
    border-radius: 10px;

}

.header_nav_panier_prix {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: white;

}

.header_nav_link:hover {
    font-weight: bold;
    color: #0000BA;
    margin-right: 19px;

}

.sidebar_block {
    width: 100%;
    height: 115px;
    background-color: #6002EE;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_block:first-child {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

.header_nav_link_phone {
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s;
}

.this_page {
    font-weight: bold;
    color: #0000BA;
}

/*_-_-_-_-_-_SIDEBAR_-_-_-_-_-_*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .5s ease-out;


}

#sidebar {
    z-index: 20;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
}

.none {
    transform: translateX(100%);
    opacity: 0;
}

/*_-_-_-_-_-_PROPOS_-_-_-_-_-_*/

.propos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    grid-row-gap: 20px;
    margin-bottom: 50px;
}

.propos_img_pk {
    margin: auto;
    margin-right: 0;
}

.propos_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #6002EE;
    margin-bottom: 20px;
}

.propos_txt{
    font-family: 'Open Sans', sans-serif;
    color: #0000BA;
    margin-bottom: 20px;

}

.propos_grp{
    padding: 0 40px;
}

.propos_btn{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #6002EE;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    border: solid 1px #6002EE;

}

.propos_btn:hover{
    background-color: white;
    color: #6002EE;
}
#propos_responsive{
    display: none;
}

/*_-_-_-_-_-_FOOTER_-_-_-_-_-_*/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: auto;
    height: auto;
    background-color: #0000BA;
}

.footer_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}

.footer_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #6002EE;
    transition: .5s;
    cursor: pointer;

}

.footer_title:hover{
    -webkit-text-stroke: 1px white;
    color: #0000BA;
}

.footer_nav_link {
    margin-right: 20px;
    text-decoration: none;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
}

.this_page_footer {
    font-weight: bold;
    color: #9C47FF;
}

.footer_nav_link:hover {
    font-weight: bold;
    color: #9C47FF;
    margin-right: 19px;

}

/*_-_-_-_-_-_MEDIA QUERIES MOBILE_-_-_-_-_-_*/

@media screen and (max-width: 1220px){
    
    #propos_desktop{
        display: none;
    }
    #propos_responsive{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .propos_img_pk{
        margin: 50px 0;
    }
    .propos_img_qui{
        margin: 50px 0;
    }
    .propos_title{
        text-align: center;
    }
    .propos_grp{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .burger_btn {
        height: 41.5px;
        width: 30px;
    }
    .header_nav {
        display: none;
    }

    .header_nav_panier {
        display: block;
    }

    .footer_title{
        display: none;
    }

    .footer {
        justify-content: center;
    }

}

@media screen and (max-width: 620px){
    .propos_img_pk{
        margin: 50px 0;
        width: 100%;
        height: 100%;
    }
    .propos_img_qui{
        margin: 50px 0;
        width: 100%;
        height: 100%;
    }
    .propos_title{
        font-size: 38px;
    }
}
