@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/*_-_-_-_-_-_HEADER_-_-_-_-_-_*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: auto;
    height: auto;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}

.header_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #6002EE;
    cursor: pointer;
    transition: 0.5s;

}

.header_title:hover {
    -webkit-text-stroke: 1px #6002EE;
    color: white;

}

.header_nav_link {
    margin-right: 20px;
    text-decoration: none;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s;
}

.this_page {
    font-weight: bold;
    color: #0000BA;
}

.header_nav_panier {
    background-color: #6002EE;
    color: white;
    border-radius: 100px;
    padding: 5px 10px;
    border: none;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .4s;
    display: none;

}

.header_nav_panier:hover {
    border-radius: 10px;

}

.sidebar_block {
    width: 100%;
    height: 115px;
    background-color: #6002EE;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_block:first-child {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

.header_nav_link_phone {
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s;
}


.header_nav_panier_prix {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: white;

}

.header_nav_link:hover {
    font-weight: bold;
    color: #0000BA;
    margin-right: 19px;

}

.header_nav_link_phone:hover {
    font-weight: bold;
    color: #0000BA;
    margin-right: 19px;

}

/*_-_-_-_-_-_SIDEBAR_-_-_-_-_-_*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .5s ease-out;


}

#sidebar {
    z-index: 20;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
}

.none {
    transform: translateX(100%);
    opacity: 0;
}

/*_-_-_-_-_-_FICHE PRODUIT_-_-_-_-_-_*/
.fiche_produit_img{
    width: 100%;
    height: 100%;
}

.box_up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}

/*Navigation*/
.fiche_produit{
    height: auto;
    padding-bottom: 30px;
}
.fp_nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    margin-bottom: 10px;
}

.fp_nav_index {
    padding-left: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #6002EE;
}

.fp_nav_arrow {
    width: 48px;
    height: 48px;
    transition: .5s;
}

.fp_nav_arrow:hover {
    width: 58px;
    height: 58px;
}

.fp_description {
    height: 250px;
    padding: 0 20px;
}

.fp_description_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    color: #6002EE;
}

.fp_description_txt {
    color: #6002EE;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}


/*Module d'achat*/
.module_achat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    width: 400px;
    border: 1px solid #0000BA;
    padding: 10px;
    margin: auto;
}

.module_achat_prix {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #6002EE;
}

.module_achat_ttc {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #6002EE;
    font-size: 15px;

}

.module_achat_quantité {
    color: #6002EE;
    border-color: #6002EE;
}

.add_button {
    color: white;
    background-color: #e74c3c;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    height: 30px;
    transition: .5s;
    border: solid 1px #e74c3c;

}

.add_button:hover{
    color: #e74c3c;
    background-color: white;
}
/*Technique*/

.fp_technique {
    margin-top: 20px;
    padding-left: 50px;
}

.fp_technique_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    color: #6002EE;
}

.fp_technique_txt {
    color: #6002EE;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

/*_-_-_-_-_-_FOOTER_-_-_-_-_-_*/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: auto;
    height: auto;
    background-color: #0000BA;
}

.footer_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}

.footer_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #6002EE;
    transition: .5s;
    cursor: pointer;

}

.footer_title:hover{
    -webkit-text-stroke: 1px white;
    color: #0000BA;
}

.footer_nav_link {
    margin-right: 20px;
    text-decoration: none;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
}

.this_page_footer {
    font-weight: bold;
    color: #9C47FF;
}

.footer_nav_link:hover {
    font-weight: bold;
    color: #9C47FF;
    margin-right: 19px;

}

/*_-_-_-_-_-_MEDIA QUERIES MOBILE_-_-_-_-_-_*/

@media screen and (max-width: 1130px){
    .box_up {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0 50px;
        flex-direction: column;
    }
    .module_achat {
        margin: 0;
    }
    .fp_description{
        margin-top: 10px;
        padding: 0;
    }        
    .fp_technique{
        padding: 0 50px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px){
    .header_nav {
        display: none;
    }
    .header_nav_panier {
        display: block;
    }

    .burger_btn {
        height: 41.5px;
        width: 30px;
    }
    .footer_title{
        display: none;
    }
    .footer{
        justify-content: center;
    }

    .module_achat{
        width: 300px;
    }
    .fp_technique{
        padding-top: 50px;
    }
    .fp_description_title{
        font-size: 30px;
    }
    .fp_technique_title{
        font-size: 30px;
    }
}