@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/*_-_-_-_-_-_HEADER_-_-_-_-_-_*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: auto;
    height: auto;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}

.header_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #6002EE;
    cursor: pointer;
    transition: 0.5s;

}

.header_title:hover {
    -webkit-text-stroke: 1px #6002EE;
    color: white;

}

.header_nav_link {
    margin-right: 20px;
    text-decoration: none;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s;
}

.sidebar_block {
    width: 100%;
    height: 115px;
    background-color: #6002EE;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_block:first-child {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

.header_nav_link_phone {
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s;
}

.this_page {
    font-weight: bold;
    color: #0000BA;
}

.header_nav_panier {
    background-color: #6002EE;
    color: white;
    border-radius: 100px;
    padding: 5px 10px;
    border: none;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .4s;
    display: none;

}

.header_nav_panier:hover {
    border-radius: 10px;

}

.header_nav_panier_prix {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: white;

}

.header_nav_link:hover {
    font-weight: bold;
    color: #0000BA;
    margin-right: 19px;

}

.header_nav_link_phone:hover {
    font-weight: bold;
    color: #0000BA;
    margin-right: 19px;

}
/*_-_-_-_-_-_SIDEBAR_-_-_-_-_-_*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .5s ease-out;


}

#sidebar {
    z-index: 20;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
}

.none {
    transform: translateX(100%);
    opacity: 0;
}

/*_-_-_-_-_-_HERO_-_-_-_-_-_*/

.hero {
    background-color: #6002EE;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.hero_title {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.hero_cta {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
    text-align: center;
}

.hero_button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px #6002EE;
    color: #6002EE;
    width: 300px;
    height: 70px;
    margin-bottom: 90px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;

}

.hero_arrow {
    animation-duration: 2s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero_button:hover {
    background-color: #6002EE;
    border: solid 1px white;
    color: white;
}

/*_-_-_-_-_-_FONCTIONNEMENT_-_-_-_-_-_*/

.ftm_title {
    width: auto;
    text-align: center;
    margin: 50px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #0000BA;
    font-size: 40px;
}

.ftm_list {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
}

.ftm_list_left_ctn {
    text-align: end;
    margin-bottom: 320px;
}


.ftm_list_left {
    width: 40%;
    height: 646px;
    margin-right: 10px;
}

#ftmListLeftSchild {
    margin-bottom: 0px;

}

.ftm_list_right_ctn {
    text-align: start;
    margin-top: 182px;
}


.ftm_list_right {
    width: 40%;
    height: 646px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}

#ftmListRightSchild {
    margin-top: 320px;

}

.ftm_list_icon {
    width: auto;
}

.ftm_list_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #0000BA;
}

.ftm_list_txt {
    font-family: 'Open Sans', sans-serif;
    color: #0000BA;
}

.ftm_list_phone {
    display: none;
    padding: 0 20px;
}

.ftm_list_phone_grp {
    margin-bottom: 20px;
}

/*_-_-_-_-_-_DECOUVRE_-_-_-_-_-_*/

.decouvre {
    padding: 0 20px;
    height: 50vh;
    width: auto;
    background-color: #6002EE;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.decouvre_title {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 50px;
    text-align: center;
}

.decouvre_cta {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.decouvre_btn {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #6002EE;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 1px #6002EE;

}

.decouvre_btn:hover {
    background-color: #6002EE;
    border: solid 1px white;
    color: white;
}

/*_-_-_-_-_-_FOOTER_-_-_-_-_-_*/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: auto;
    height: auto;
    background-color: #0000BA;
}

.footer_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}

.footer_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #6002EE;
    transition: .5s;
    cursor: pointer;

}

.footer_title:hover{
    -webkit-text-stroke: 1px white;
    color: #0000BA;
}

.footer_nav_link {
    margin-right: 20px;
    text-decoration: none;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
}

.this_page_footer {
    font-weight: bold;
    color: #9C47FF;
}

.footer_nav_link:hover {
    font-weight: bold;
    color: #9C47FF;
    margin-right: 19px;

}

/*_-_-_-_-_-_MEDIA QUERIES TABLETTE_-_-_-_-_-_*/



@media screen and (max-width: 1200px) {
    /*DECOUVRE*/

    .decouvre {
        height: 50vh;
        width: auto;
        background-color: #6002EE;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .decouvre_title {
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        font-size: 38px;
        margin-bottom: 5px;
    }

    .decouvre_cta {
        font-family: 'Open Sans', sans-serif;
        color: white;
        text-align: center;
        margin-bottom: 25px;
    }

    .decouvre_btn {
        width: 150px;
        height: 50px;
        border-radius: 10px;
        border: solid 1px white;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #6002EE;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;

    }

}


/*_-_-_-_-_-_MEDIA QUERIES MOBILE_-_-_-_-_-_*/

@media screen and (max-width: 768px) {
    .header_nav {
        display: none;
    }

    .header_nav_panier {
        display: block;
    }

    .burger_btn {
        height: 41.5px;
        width: 30px;
    }

    .hero {
        padding: 0 20px;
    }

    .hero_title {
        font-size: 30px;
    }

    .fonctionnement {
        padding: 0 20px;
    }

    .ftm_list {
        display: none;
    }

    .ftm_list_phone {
        display: block;
    }

    .ftm_list_title {
        text-align: center;
    }

    .ftm_list_txt {
        text-align: center;
    }

    .ftm_title {
        font-size: 30px;
    }

    .footer_title {
        display: none;
    }

    .footer {
        justify-content: center;
    }
}