@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/*_-_-_-_-_-_HEADER_-_-_-_-_-_*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: auto;
    height: auto;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}

.header_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #6002EE;
    cursor: pointer;
    transition: 0.5s;

}

.header_title:hover {
    -webkit-text-stroke: 1px #6002EE;
    color: white;

}

.header_nav_link {
    margin-right: 20px;
    text-decoration: none;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s;
}

.this_page {
    font-weight: bold;
    color: #0000BA;
}

.header_nav_panier {
    background-color: #6002EE;
    color: white;
    border-radius: 100px;
    padding: 5px 10px;
    border: none;
    height: auto;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .4s;
    display: none;

}

.header_nav_panier:hover {
    border-radius: 10px;

}

.header_nav_panier_prix {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: white;

}

.header_nav_link:hover {
    font-weight: bold;
    color: #0000BA;
    margin-right: 19px;

}

.header_nav_link_phone {
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s;
}

.header_nav_link_phone:hover {
    font-weight: bold;
    color: #0000BA;
    margin-right: 19px;

}

/*_-_-_-_-_-_SIDEBAR_-_-_-_-_-_*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .5s ease-out;


}

#sidebar {
    z-index: 20;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
}

.none {
    transform: translateX(100%);
    opacity: 0;
}

/*Sidebar contenu*/

.sidebar_title {
    height: 98px;
    width: auto;
    background-color: #6002EE;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}

.sidebar_element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    color: white;
    background-color: #6002EE;
    margin-top: 20px;
}

.sidebar_element_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.sidebar_element_prix {
    font-family: 'Open Sans', sans-serif;
    margin-right: 10px;
}

.container_sidebar_prix{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.sidebar_block {
    width: 100%;
    height: 115px;
    background-color: #6002EE;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_block:first-child {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

/*_-_-_-_-_-_SHOP_-_-_-_-_-_*/
/*Titre*/
.shop_txts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.shop_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #6002EE;
}

.shop_subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #9C47FF;
    text-align: center;
}

.shop_produits_grp {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

/*Nav*/

.shop_nav {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 50px;
}

.shop_nav_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    width: 300px;
    height: 70px;
    color: #8EACBB;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    border-right: #8EACBB 10px solid;
    cursor: pointer;
}

.shop_nav_btn_click {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    width: 300px;
    height: 70px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    background-color: #9C47FF;
    border-right: #0000BA 10px solid;
    cursor: pointer;
}

.shop_nav_btn:hover {
    color: white;
    background-color: #8EACBB;
}


/*GRID*/

.shop_grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-row-gap: 20px;
}

/*Produit individuel*/

.shop_grid_produit {
    height: auto;
    width: 250px;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.shop_grid_produit_img {
    width: 200px;
    height: 200px;
    margin: 20px 0;
}

.shop_grid_produit_nom {
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;

}

.shop_grid_produit_prix {
    margin-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.shop_grid_produit_detail {
    margin-bottom: 10px;
    background-color: #6002EE;
    color: white;
    border: 1px solid #6002EE;
    border-radius: 100px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    width: 100px;
    height: 50px;
    margin-right: 20px;
    margin-left: 80px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop_grid_produit_detail:hover {
    background-color: white;
    color: #6002EE;
    border: 1px solid #6002EE;
}

.shop_grid_produit_btn_grp {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.shop_grid_produit_add {
    border-radius: 100px;
    border: 2px solid #6002EE;
    background-color: white;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

/*_-_-_-_-_-_POURQUOI_-_-_-_-_-_*/
.pourquoi {
    background-color: #6002EE;
    height: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

.pourquoi_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.pourquoi_grid {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    align-items: flex-start;
    justify-content: center;
    grid-row-gap: 50px;

}

.pourquoi_grid_ctn {
    width: auto;
    height: auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 0;

}

.pourquoi_grid_icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.pourquoi_grid_title {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
}

.pourquoi_grid_txt {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

/*_-_-_-_-_-_FOOTER_-_-_-_-_-_*/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: auto;
    height: auto;
    background-color: #0000BA;
}

.footer_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}

.footer_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #6002EE;

}

.footer_nav_link {
    margin-right: 20px;
    text-decoration: none;
    color: #6002EE;
    font-family: 'Work Sans', sans-serif;
}

.this_page_footer {
    font-weight: bold;
    color: #9C47FF;
}

.footer_nav_link:hover {
    font-weight: bold;
    color: #9C47FF;
    margin-right: 19px;

}

/*_-_-_-_-_-_MEDIA QUERIES TABLETTE_-_-_-_-_-_*/

@media screen and (max-width: 768px){
    
    .header_nav{
        display: none;
    }

    .burger_btn {
        height: 41.5px;
        width: 30px;
    }

    .header_nav_panier {
        display: block;
    }

    .shop_title{
        font-size: 30px;
    }
    .shop_produits_grp {
        flex-direction: column;
    }

    .shop_nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        margin-bottom: 20PX;
    }

    .shop_nav_btn {
        border-bottom: #8EACBB 10px solid;
        border-right: none;
        justify-content: center;
        padding: 0;
    }

    .shop_nav_btn_click {
        border-bottom: #0000BA 10px solid;
        border-right: none;
        justify-content: center;
        padding: 0;
    }

    .pourquoi_grid {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(1, minmax(260px, 1fr));
        align-items: flex-start;
        justify-content: center;
        grid-row-gap: 50px;
    
    }

    .footer_title {
        display: none;
    }

    .footer {
        justify-content: center;
    }

}
